* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
body {
    color: #f1f1f1;
    letter-spacing: 2px;
    font-family: 'Noto Sans JP', sans-serif;
    background: black;
}
header {
    position: fixed;
    width: 100%;
    background: rgb(15, 5, 5);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #181515;
}
nav {
    max-width: 1050px;
    margin:auto;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: #b30000;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 30px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
}
nav a:hover{
    color: red;
}
/*-- 3.Home Section --*/
.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 120px 20px 80px;
}
.hero h1 {
    letter-spacing: 12px;
    color: white;
}
.hero h2 {
    margin-top: 10px;
    color: red;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 3px;
}
.hero p {
   max-width: 600px;
    margin-top: 20px;
    color: white;
    font-size: 16px;
}
/*-- 4.View My Work Button --*/
.main-button {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 28px;
    border: 1px solid red;
    text-decoration: none;
    letter-spacing: 2px;
}
/*-- 5.Section --*/
section {
    border-top: 1px solid darkred;
    max-width: 1100px;
    margin: auto;
    padding: 120px 30px;
}
section h2 {
    margin-bottom: 40px;
    color: red;
    font-size: 32px;
    letter-spacing: 4px;
}
/*-- 6.About Section --*/
.about-image {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border: 1px solid #5c0000;
}
/*-- 7.Projects Section --*/
.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.project-card {
    padding: 30px;
    background: #101010;
    border: 1px solid #2b0b0b;
}
a {
    color: inherit;
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
}
.social-links a {
    color: #999;
    text-decoration: none;
    transition: color 0.3s ease;
}
.social-links a:hover {
    color: #b30000;
}
#contact {
    text-align: center;
}
#contact h2 {
    max-width: 500px;
    margin: 0 auto 25px;
    color:#999;
}
footer {
    padding: 30px;
    text-align: center;
    border-top: 1px solid #2b0b0b;
    color:#666;
    font-size: 13px;
}
@media (max-width: 700px) {
   nav {
    padding: 15px 20px;
   }
   nav ul {
    gap: 15px;
   }
   nav a {
    font-size: 12px;
   }
   .hero h1 {
    font-size: 55px;
    letter-spacing: 6px;
   }
   .hero h2 {
    font-size: 14px;
   }
   .about-container {
    flex-direction: column;
    align-items: center;
   }
   .about-image {
    width: 220px;
    height: 220px;
   }
   .project-container {
    grid-template-columns: 1fr;
   }
   section {
    padding: 90px 20px;
   }
}